.App {
  background-color: var(--z-background-primary);
  box-shadow: 0 0 0.3125em rgba(var(--z-background-body--rgb), 0.5);
  color: var(--z-color-primary);
  margin: 0 auto;
  max-width: 62.5rem;
  min-width: 300px;
  height: 100vh;
}

[data-theme="dark"] .App {
  background-color: var(--z-background-darker);
  color: var(--z-color-100);
}
